:root {
  --accent-color: #2196f3;
  --general-black-color: #212121;
  --team-section-bgc: #f5f4fa;
  --secondary-bgc: #2f303a;
}

body {
  color: #757575;
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* PAGE HEADER */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
}

/* LOGO SECTION */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--general-black-color);
}
/* NAV SECTION */
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  margin-left: 92px;
}

.menu-auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-section {
  display: flex;
  align-items: center;
}

.menu-link .menu-list-item {
  margin-right: 50px;
}

.menu-link .menu-list-item:last-child {
  margin: 0;
}

.menu-auth .menu-nav-list + .menu-nav-list {
  margin-left: 50px;
}

.link.current {
  color: var(--accent-color);
}
.nav-mail {
  color: #757575;
  text-decoration: none;
}
.nav-mail:hover,
.nav-mail:focus {
  color: var(--accent-color);
}

.nav-tel {
  color: #757575;
  text-decoration: none;
}
.nav-tel:hover,
.nav-tel:focus {
  color: var(--accent-color);
}

.link {
  color: var(--general-black-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* HERO SECTION */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--secondary-bgc);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: #fff;
  background-color: var(--accent-color);
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: #188ce8;
}

/*  BENEFITS SECTION */
.benefits-list .benefits-title {
  color: var(--general-black-color);
}

.benefits-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-list .benefits-list-item + .benefits-list-item{
  margin-left: 30px;
}

.benefits-list {
  display: flex;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  min-width: 270px;
}
/* ABOUT US SECTION */

.about-section {
  padding-top: 0;
}

.about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-black-color);

  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-list .about-list-item + .about-list-item {
  margin-left: 30px;
}

/* OUR TEAM SECTION */
.team-section {
  background-color: var(--team-section-bgc);
}

.team-header-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-black-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list li + li {
  margin-left: 30px;
}

.team-name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.subteam {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-name-title {
  color: var(--general-black-color);
}
/* FOOTER SECTION */

.footer-mail,
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.map-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  
}

 .footer-contact-item {
  margin-bottom: 9px;
}
.footer-contact-item:last-child {
  margin-bottom: 0;
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-mail {
  display: inline-block;
  
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

.footer-logo-studio {
  color: #fff;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}
/* ~~~~~~~~~~~~PORTFOLIO  ~~~~~~~~~~~~*/

/* FILTER */
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter-btn {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--general-black-color);
  background-color: #f5f4fa;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #fff;
  background-color: var(--accent-color);
}

.filter-list-btn .filter-list-item + .filter-list-item {
  margin-left: 8px;
}

.filter-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* OUR WORKS */
.works-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-title-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.our-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4px;
}

.our-works-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.sub-works-title {
  padding: 20px 24px;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.our-works .works-title {
  color: var(--general-black-color);
}
